.TimeLineSection {
   padding: 24px;
   background: white;
   display: flex;
   justify-content: center;

   @media (min-width: 1200px) {
      padding: 80px;
   }
   @media (min-width: 1200px) {
      padding: 120px;
   }

   &__wrapper {
      max-width: 1200px;
      width: 100%;
      flex-direction: column;
      display: flex;
      gap: 120px;
   }
}
